<%= form_for @question do |f| %>
  <div class="form-group">
    <%= f.label :author %>:<br>
    <%= f.text_field :author %><br>
    <%= f.label :text %>:<br>
    <%= f.text_field :text %>
  </div>
  <p><%= f.submit :class => "btn btn-success" %></p>
<% end %>
