<% content_for(:title, "Question Details") %>

<h2>Question: <span class="blue"><%= @question.text %></span></h2>

<p><%= link_to "Add 2 Answers", new_question_answer_path(@question) %></p>

<h3>Answers:</h3>
  <% if @question.answers.any? %>
    <ol>
      <% @question.answers.order(:text => :ASC).each do |answer| %>
        <li>
          <%= answer.text %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p>No answers added yet!</p>
  <% end %>

  <hr>

  <p><%= link_to "Add Comment", new_question_comment_path(@question), :id => "new_comment_link", :remote => true %></p>

<div id="new_comment_errs">

</div>

  <h3>Comments:</h3>
    <% if @question.comments.any? %>
      <ol id="question_comment_list">
        <% @question.comments.order(:text => :ASC).each do |comment| %>
          <li>
            <%= comment.author %> : <%= comment.text %>
          </li>
        <% end %>
      </ol>
    <% else %>
      <p>No comments added yet!</p>
    <% end %>
