
<div id="new_comment_form">
<% form_for [question_url, comment.new] do |f| %>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author %>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <p><%= f.submit :class => "btn btn-success" %></p>
<% end %>
</div>
