
<div id="new_comment_form">
<%= form_for [@question, @comment], :remote => true do |f| %>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author %>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>
  <p><%= f.submit :class => "btn btn-success" %></p>
<% end %>
</div>
